* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html{
    font: normal 16px sans-serif;
    color: #555;
}
ul, nav{
    list-style: none;
}
/*nav-bar style*/
nav{
    list-style: none;
}
a{
    text-decoration: none;
    opacity: 0.75;
    margin: 0 15px;
    color: white;
    cursor: pointer;
    margin-left: auto;
}
#heading{
    text-align: center;
}
a:hover{
    opacity: 1;
}
a.btn{
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #5b6079eb;
    opacity: 1;
    margin-top: 10px;
    color: white
}


section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px;
}

/*********************HEADER************************/

header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    padding: 35px 100px 0;
    -webkit-animation: 1s fadein 0.5s forwards;
            animation: 1s fadein 0.5s forwards;
    opacity: 0.5;
    color: white;
}
@-webkit-keyframes fadein{
    100%{
        opacity: 1;
    }
}
@keyframes fadein{
    100%{
        opacity: 1;
    }
}

header h2{
    font-family: "Quicksand, sans-serif";
    color: white;
}

header nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: -15px;
}
header nav li{
    margin: 0 15px;
    color: white;
}
@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 700px){
	header{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}
}



/****************Cover and Image Animation configuration*********************/
.hero{
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: white;
}
.hero .background-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    animation: change 5s linear 0.6s infinite;
  
}


@keyframes change{
    0%{
        background-image: url(images/bg1.jpg);

    }
   

    50%{
        background-image: url(images/bg2.jpg);
        
    }
   
    100%{
        background-image: url(images/bg1.jpg);
        
    }
}
.hero h1{
    font: bold 60px "Open Sans", sans-serif;
    margin-bottom: 40px;
    color: white;
    font-family: 'Abril Fatface', cursive;

}
#heroh3{
    font-family: 'Abril Fatface', cursive;
}
.hero h3{
    font: normal 28px "Open Sans", sans-serif;
    margin-bottom: 40px;
    color: white;
}
.hero a.btn{
    padding: 20px 46px;
}
.hero-content-area{
    opacity: 0;
    margin-top: 100px;
    -webkit-animation: 1s slidefade 1s forwards;
            animation: 1s slidefade 1s forwards;
}
@-webkit-keyframes slidefade{
    100%{
        opacity: 1;
        margin: 0;
    }
}
@keyframes slidefade{
    100%{
        opacity: 1;
        margin: 0;
    }
}


.grid{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}






@media (max-width: 800px){

	.hero{
		min-height: 600px;
	}
	.hero h1{
		font-size: 40px;
	}

	.hero h3{
		font-size: 24px;
	}

	.hero a.btn{
        padding: 10px 30px;
        border-radius: 2vh;
	}

}


/************************Section Configurations*******************/
section h3.title{
    text-transform: capitalize;
    font: bold 40px "Open Sans", sans-serif;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}
.foot{
    text-transform: capitalize;
    font: 30px "Open Sans", sans-serif;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

.destinations .grid li{
    height: 350px;
    padding: 20px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

.destinations .grid li.small{
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
}

.destnations .grid li.large{
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
}

#details{
    font-size: large;
    text-align: center;
    font-weight: 700;
}





/*********************Contact Section****************/

.contact{
	background-color: #f7f7f7;
}

.contact form{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	max-width: 800px;
	width: 80%;
}

.contact form input{
	padding: 15px;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	margin-right: 30px;
	font-size: 18px;
	color: #555;
}

.contact form .btn{
	padding: 18px 42px;
}


@media (max-width: 800px){

	.contact form input{
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		margin: 0 0 20px 0;
	}

}




/*-------------
 	Footer
-------------*/

footer{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 60px 0;
}

footer ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li{
	margin: 0 8px;	
}

footer ul li:first-child{
	margin-left: 0;	
}

footer ul li:last-child{
	margin-right: 0;	
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}

@media (max-width: 700px){

	footer{
		padding: 80px 15px;
	}

}

#btn{
    font-size:48px;
    color:#c0cacf;
    
}


